
/*

                ############# White.exe V2.0 #############

                        (c) 2024 - 2025 NightRiderr_
    By using this software, you accept the terms of service and the licence.
            View everything on: https://github.com/ImNightRiderr/

                ##########################################

*/

101 ICON "icon.ico"
1 VERSIONINFO
 FILEVERSION 2,1,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
   VALUE "CompanyName","NightRiderr_"
   VALUE "FileDescription","White.exe ScreenShare Tool"
   VALUE "FileVersion","2.1"
   VALUE "InternalName","white"
   VALUE "LegalCopyright","Copyright © 2024 - 2025"
   VALUE "OriginalFilename","White.exe"
   VALUE "ProductName","White"
   VALUE "ProductVersion","2.0"
  END
  BLOCK "041004E4"
  BEGIN
   VALUE "CompanyName","NightRiderr_"
   VALUE "FileDescription","White.exe Strumento di condivisione schermo"
   VALUE "FileVersion","2.1"
   VALUE "InternalName","white"
   VALUE "LegalCopyright","Copyright © 2024 - 2025"
   VALUE "OriginalFilename","White.exe"
   VALUE "ProductName","White"
   VALUE "ProductVersion","2.0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 0x04E4, 0x0410, 0x04E4
 END
END